@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
}
.logo{
    font-weight: bold;
    font-size: 2rem;
}
.text-color-white{
    color: white;
    text-decoration: none;
}
.container{
    
    background-color: black;
    justify-content: space-between;
}
.lists{
    list-style: none;
    padding: 1rem;
}

.flex{
    display: flex;
    align-items: center;
    
}

.pd{
    padding: 1rem;
}
.pd-1{
    padding:2rem ;
}
  .parent {
    display: flex;
    gap: 20px;
  }
  .child {
    background-color: chartreuse;
    height: 100px;
    flex: 1;
  }
  @media screen and (max-width: 600px) {
    .parent {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 500px) {
    .child {
      background-color: cornflowerblue;
    }
  }
  @media screen and  (max-width: 650px){
    .container{
     flex-direction: column;
    }
     .navigate{
      flex-direction: column
     }
     
    
  };
    
  